# import
# import all of Matching and selected functions from other packages
import(Matching)
importFrom(stats, lm)
importFrom(stats, pnorm)
importFrom(lmtest,coeftest)
importFrom(multiwayvcov,cluster.vcov)
importFrom(lme4,glmer)

# export 
# exportPattern(.”)
# exportPattern("^[[:alpha:]]+")

export(MatchW,MatchPW)
S3method(summary, Match)
S3method(print, summary.Match)
